.header {
    position: relative;
    background-image: url(../images/leaf.png);
    min-height: 100vh;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12.5%;
}
.header__image {
    position: absolute;
    width: 43.5%;
    top: 0;
    right: 0;
}
.header__top {
    padding-top: 2rem;
    display: flex;
    align-items: baseline;
}
.header__logo {
    max-width: 10rem;
}
/* menu */
.nav {
    margin-left: 14%;
    position: relative;
    z-index: 2;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    margin: 0 2.5rem;
}
.nav__link {
    font-size: 1.4rem;
    color: var(--gray-dark);
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.5s linear;
}
.nav__link:hover {color: var(--primary-color);}
.header__content {
    padding-top: 19rem;
    position: relative;
    max-width: 55.5rem;
    z-index: 2;
}
.header__content-slogan {
    color: var(--primary-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3rem;
    font-family: var(--secondary-font);
    font-weight: 400;
}
.header__content-title {
    font-size: 6rem;
    font-family: var(--secondary-font);
    font-weight: bold;
    color: var(--gray-dark);
    margin-bottom: 3rem;
    line-height: 1.2;
}
.header__content-desc {
    color: var(--gray-dark);
    font-size: 1.5rem;
    margin-bottom: 5rem;
}
.header__content-cta {
    display: flex;
    align-items: center;
}
.header__content-cta > a:first-child { margin-right: 5rem;}
.btn--play {
    display: flex;
    align-items: center;
}
.btn--play > i {
    width: 4rem;
    height: 4rem;
    display: flex;
    background-color: var(--bg-block);
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    margin-right: 1rem;
    border-radius: 5rem;
}
.btn--play > span {
    font-size: 1.4rem;
    color: var(--gray-dark);
}
.btn {
    display: inline-block;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: 0;
    outline: none;
    font-family: var(--primary-font);
    text-align: center;
    vertical-align: middle;
}
.btn--primary {background-color: var(--primary-color);}
.btn--icon i{
    margin-left: 1rem;
    color: inherit;
}
.btn--rounded {border-radius: 5rem;}
.nav__collapse {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    top: -5px;
    display: none;
}
@media screen and (max-width: 767px) {
    .nav, .header__image {
        display: none;
    }
    .nav__collapse { display: block }
    .header__top { justify-content: space-between;}
    .header__content {padding-top: 7rem;}
    .header__content-title {
        font-size: 4rem;
    }
    .header__content-cta {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__content-cta > a:first-child {
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 1439px), (-webkit-min-device-pixel-ratio: 2) {
    .header__content {
        padding-top: 12rem;
    }
}